{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Bewoning",
    "description" : "API voor het zoeken en raadplegen van bewoningen en metagegevens over bewoning (verloop).\nEen bewoning is een adresseerbaar object (verblijfsobject, ligplaats of standplaats) met ingeschreven bewoner(s).\nIedere samenstelling van bewoners van het object is een bewoning. Overleden personen maken onderdeel uit van een\nbewoning tot het moment van overlijden. Gegevens over de bewoners zijn actueel.\n",
    "contact" : {
      "url" : "https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bewoning"
    },
    "license" : {
      "name" : "European Union Public License, version 1.2 (EUPL-1.2)",
      "url" : "https://eupl.eu/1.2/nl/"
    },
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://www.haalcentraal.nl/haalcentraal/api/brpbewoning",
    "description" : "APILAB testserver bewoning\n"
  } ],
  "tags" : [ {
    "name" : "Bewoning"
  } ],
  "paths" : {
    "/bewoningenhistorie" : {
      "get" : {
        "tags" : [ "Bewoning" ],
        "description" : "Zoek bewoningen door een adresseerbaarObjectIdentificatie of een burgerservicenummer op te geven, samen met een peildatum of periode.\n",
        "operationId" : "GetBewoningen",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven.\nBij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.\nWanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)\n",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^[a-zA-Z.,_]+$",
            "type" : "string"
          }
        }, {
          "name" : "peildatum",
          "in" : "query",
          "description" : "De datum waarop de resource wordt opgevraagd.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date",
            "example" : "2018-09-09"
          }
        }, {
          "name" : "datumVan",
          "in" : "query",
          "description" : "De begindatum van de periode waarover de resource wordt opgevraagd.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date",
            "example" : "2018-09-09"
          }
        }, {
          "name" : "datumTotEnMet",
          "in" : "query",
          "description" : "De einddatum van de periode waarover de resource wordt opgevraagd.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date",
            "example" : "2018-10-09"
          }
        }, {
          "name" : "burgerservicenummer",
          "in" : "query",
          "description" : "Uniek persoonsnummer.\n",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "maxLength" : 9,
            "minLength" : 9,
            "pattern" : "^[0-9]*$",
            "type" : "string"
          },
          "example" : "999993653"
        }, {
          "name" : "adresseerbaarObjectIdentificatie",
          "in" : "query",
          "description" : "De unieke identificatie van een verblijfsobject, standplaats of ligplaats.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^[0-9]{16}$",
            "type" : "string",
            "example" : "0226010000038820"
          }
        }, {
          "name" : "toonBewoonSamenstelling",
          "in" : "query",
          "description" : "Geeft aan hoe de bewoning moet worden getoond:\n\n- false (default): alle bewoners van een adresseerbaarobject in de gevraagde periode\n- true: de gevraagde periode wordt gesplitst bij wijziging van bewoning samenstelling\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BewoningHistorieHalCollectie"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "501" : {
            "description" : "Not Implemented",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2",
                  "title" : "Not Implemented",
                  "status" : 501,
                  "detail" : "The server does not support the functionality required to fulfill the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notImplemented"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          },
          "default" : {
            "description" : "Er is een onverwachte fout opgetreden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        }
      }
    },
    "/verloop" : {
      "get" : {
        "tags" : [ "Bewoning" ],
        "description" : "Raadpleeg het verloop van de bewoning van een adresseerbaar object over een periode door een adresseerbaarobjectIdentificatie en\neen periode op te geven. Het antwoord bevat het aantal verhuizingen van en naar het object en het gemiddelde aantal bewoners in de opgegeven periode.\n",
        "operationId" : "GetBewoningverloop",
        "parameters" : [ {
          "name" : "datumVan",
          "in" : "query",
          "description" : "De begindatum van de periode waarover de resource wordt opgevraagd.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date",
            "example" : "2018-09-09"
          }
        }, {
          "name" : "datumTotEnMet",
          "in" : "query",
          "description" : "De einddatum van de periode waarover de resource wordt opgevraagd.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date",
            "example" : "2018-10-09"
          }
        }, {
          "name" : "adresseerbaarObjectIdentificatie",
          "in" : "query",
          "description" : "De unieke identificatie van een verblijfsobject, standplaats of ligplaats.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^[0-9]{16}$",
            "type" : "string",
            "example" : "0226010000038820"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Verloop"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5",
                  "title" : "Opgevraagde resource bestaat niet.",
                  "status" : 404,
                  "detail" : "The server has not found anything matching the Request-URI.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notFound"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "501" : {
            "description" : "Not Implemented",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2",
                  "title" : "Not Implemented",
                  "status" : 501,
                  "detail" : "The server does not support the functionality required to fulfill the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notImplemented"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          },
          "default" : {
            "description" : "Er is een onverwachte fout opgetreden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "BewoningHistorie" : {
        "type" : "object",
        "properties" : {
          "adresseerbaarObjectIdentificatie" : {
            "type" : "string",
            "description" : "De unieke identificatie van een verblijfsobject, standplaats of ligplaats.\n"
          },
          "bewoningen" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Bewoning"
            }
          },
          "adressen" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AdresUitgebreid"
            }
          }
        },
        "description" : "Een bewoning is een adresseerbaar object(verblijfsobject, ligplaats of standplaats) met ingeschreven bewoner(s).\nIedere samenstelling van bewoners van het object is een bewoning.\n"
      },
      "AdresUitgebreid" : {
        "type" : "object",
        "allOf" : [ {
          "$ref" : "#/components/schemas/Adres"
        }, {
          "properties" : {
            "nummeraanduidingIdentificatie" : {
              "type" : "string",
              "description" : "De unieke aanduiding van een nummeraanduiding.\n",
              "example" : "0518200001645858"
            },
            "korteNaam" : {
              "maxLength" : 24,
              "type" : "string",
              "description" : "De officiële openbareruimtenaam uit de Basisregistratie Gebouwen en Adressen (BAG) of een verkorte versie.\n",
              "example" : "Ln vd l D-Westervoort"
            },
            "adresregel1" : {
              "type" : "string",
              "description" : "Het eerste deel van een adres is een combinatie van de straat en huisnummer.\n",
              "example" : "Laan van de landinrichtingscommissie Duiven-Westervoort 26A-3"
            },
            "adresregel2" : {
              "type" : "string",
              "description" : "Het tweede deel van een adres is een combinatie van woonplaats eventueel in combinatie met de postcode.\n",
              "example" : "1234AA Nootdorp"
            },
            "adresregel3" : {
              "type" : "string",
              "description" : "Het derde deel van een adres is optioneel. Het gaat om een of meer geografische gebieden van het adres in het buitenland.\n",
              "example" : "Selangor"
            }
          }
        } ]
      },
      "BewoningHistorieHal" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/BewoningHistorie"
        }, {
          "properties" : {
            "_links" : {
              "$ref" : "#/components/schemas/BewoningHistorieLinks"
            }
          }
        } ]
      },
      "BewoningHistorieHalCollectie" : {
        "type" : "object",
        "properties" : {
          "_links" : {
            "$ref" : "#/components/schemas/HalCollectionLinks"
          },
          "_embedded" : {
            "$ref" : "#/components/schemas/BewoningHistorieHalCollectieEmbedded"
          }
        }
      },
      "BewoningHistorieHalCollectieEmbedded" : {
        "type" : "object",
        "properties" : {
          "bewoningenhistorie" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BewoningHistorieHal"
            }
          }
        }
      },
      "BewoningHistorieLinks" : {
        "type" : "object",
        "properties" : {
          "ingeschrevenPersonen" : {
            "type" : "array",
            "description" : "De ingeschreven natuurlijk personen die bewoner zijn of waren.",
            "items" : {
              "$ref" : "#/components/schemas/HalLink"
            }
          },
          "nummeraanduidingen" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HalLink"
            }
          },
          "adresseerbaarObject" : {
            "$ref" : "#/components/schemas/HalLink"
          }
        }
      },
      "Bewoner" : {
        "type" : "object",
        "properties" : {
          "burgerservicenummer" : {
            "type" : "string",
            "example" : "555555021"
          },
          "naam" : {
            "$ref" : "#/components/schemas/NaamPersoon"
          },
          "geheimhoudingPersoonsgegevens" : {
            "title" : "Indicatie geheim",
            "type" : "boolean",
            "description" : "Gegevens mogen niet worden verstrekt aan derden / maatschappelijke instellingen.\n"
          },
          "verblijfplaats" : {
            "$ref" : "#/components/schemas/Verblijfplaats"
          }
        },
        "description" : "Een bewoner is een persoon die op een (verblijfs)object met een adres is ingeschreven of ingeschreven is geweest.\n* `datumAanvangAdreshouding` : Datum waarop de bewoner van dit adresseerbaar object is ingeschreven.\n* `datumTot` : Datum waarop de bewoner van dit adresseerbaar object is uitgeschreven.\n"
      },
      "Verloop" : {
        "type" : "object",
        "properties" : {
          "inVerhuizingen" : {
            "type" : "integer",
            "description" : "Het aantal keren dat een alleenstaande of een gezin naar het verblijfsobject, de ligplaats of de standplaats is verhuisd binnen de opgegeven periode.\n",
            "example" : 3
          },
          "uitVerhuizingen" : {
            "type" : "integer",
            "description" : "Het aantal keren dat een alleenstaande of een gezin naar een ander verblijfsobject, ligplaats of standplaats is verhuisd binnen de opgegeven periode.\n",
            "example" : 14
          },
          "gemiddeldAantalBewoners" : {
            "type" : "number",
            "description" : "Het gemiddelde aantal bewoners van het verblijfsobject, de ligplaats of de standplaats in de opgegeven periode.\n",
            "format" : "float",
            "example" : 2.7
          }
        }
      },
      "Bewoning" : {
        "type" : "object",
        "properties" : {
          "periode" : {
            "$ref" : "#/components/schemas/BewoningPeriode"
          },
          "bewoners" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Bewoner"
            }
          },
          "indicatieVeelBewoners" : {
            "type" : "boolean",
            "description" : "Geeft aan dat het adresseerbaar object zo veel bewoners heeft of had in de gevraagde periode dat zij\nniet in het antwoord worden opgenomen, met uitzondering van de persoon waarvan de BSN is opgegeven.\n"
          }
        }
      },
      "BewoningPeriode" : {
        "type" : "object",
        "properties" : {
          "van" : {
            "type" : "string",
            "format" : "date"
          },
          "tot" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "Verblijfplaats" : {
        "type" : "object",
        "properties" : {
          "indicatieInOnderzoek" : {
            "type" : "boolean",
            "description" : "Geeft aan dat de verblijfplaats in onderzoek is.\n"
          },
          "functieAdres" : {
            "$ref" : "#/components/schemas/SoortAdres_enum"
          },
          "adreshouding" : {
            "$ref" : "#/components/schemas/AdreshoudingPeriode"
          },
          "nummeraanduidingIdentificatie" : {
            "type" : "string",
            "description" : "Unieke identificatie van een nummeraanduiding (en het bijbehorende adres) in de BAG.\n",
            "example" : "0518200000366054"
          }
        }
      },
      "AdreshoudingPeriode" : {
        "type" : "object",
        "properties" : {
          "aanvang" : {
            "$ref" : "#/components/schemas/DatumOnvolledig_2"
          },
          "tot" : {
            "$ref" : "#/components/schemas/DatumOnvolledig_2"
          }
        }
      },
      "BadRequestFoutbericht" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Foutbericht"
        }, {
          "type" : "object",
          "properties" : {
            "invalidParams" : {
              "type" : "array",
              "description" : "Foutmelding per fout in een parameter. Alle gevonden fouten worden één keer teruggemeld.",
              "items" : {
                "$ref" : "#/components/schemas/InvalidParams"
              }
            }
          }
        } ]
      },
      "Foutbericht" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "Link naar meer informatie over deze fout",
            "format" : "uri"
          },
          "title" : {
            "type" : "string",
            "description" : "Beschrijving van de fout"
          },
          "status" : {
            "type" : "integer",
            "description" : "Http status code"
          },
          "detail" : {
            "type" : "string",
            "description" : "Details over de fout"
          },
          "instance" : {
            "type" : "string",
            "description" : "Uri van de aanroep die de fout heeft veroorzaakt",
            "format" : "uri"
          },
          "code" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Systeemcode die het type fout aangeeft"
          }
        },
        "description" : "Terugmelding bij een fout. JSON representatie in lijn met [RFC7807](https://tools.ietf.org/html/rfc7807)."
      },
      "InvalidParams" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "format" : "uri",
            "example" : "https://www.vng.nl/realisatie/api/{major-versie}/validaties/integer"
          },
          "name" : {
            "type" : "string",
            "description" : "Naam van de parameter",
            "example" : "verblijfplaats__huisnummer"
          },
          "code" : {
            "minLength" : 1,
            "type" : "string",
            "description" : "Systeemcode die het type fout aangeeft",
            "example" : "integer"
          },
          "reason" : {
            "type" : "string",
            "description" : "Beschrijving van de fout op de parameterwaarde",
            "example" : "Waarde is geen geldige integer."
          }
        },
        "description" : "Details over fouten in opgegeven parameters"
      },
      "Adres" : {
        "type" : "object",
        "properties" : {
          "straat" : {
            "title" : "openbareruimte naam",
            "type" : "string",
            "description" : "Een naam die door de gemeente aan een openbare ruimte is gegeven.",
            "example" : "Laan van de landinrichtingscommissie Duiven-Westervoort"
          },
          "huisnummer" : {
            "type" : "integer",
            "description" : "Een nummer dat door de gemeente aan een adresseerbaar object is gegeven.",
            "example" : 1
          },
          "huisletter" : {
            "type" : "string",
            "description" : "Een toevoeging aan een huisnummer in de vorm van een letter die door de gemeente aan een adresseerbaar object is gegeven.",
            "example" : "A"
          },
          "huisnummertoevoeging" : {
            "type" : "string",
            "description" : "Een toevoeging aan een huisnummer of een combinatie van huisnummer en huisletter die door de gemeente aan een adresseerbaar object is gegeven.",
            "example" : "bis"
          },
          "postcode" : {
            "type" : "string",
            "description" : "De door PostNL vastgestelde code die bij een bepaalde combinatie van een straatnaam en een huisnummer hoort.",
            "example" : "6922KZ"
          },
          "woonplaats" : {
            "title" : "woonplaats naam",
            "type" : "string",
            "description" : "Een woonplaats is een gedeelte van het grondgebied van de gemeente met een naam.",
            "example" : "Duiven"
          }
        },
        "description" : "Eigenschappen van het adres die kunnen worden hergebruikt in andere API's waarin adresgegevens worden opgenomen. "
      },
      "HalCollectionLinks" : {
        "type" : "object",
        "properties" : {
          "self" : {
            "$ref" : "#/components/schemas/HalLink"
          }
        },
        "description" : "HalCollectionLinks bevat de self link die elke HAL Resource minimaal moet hebben in zijn _links property\n"
      },
      "HalLink" : {
        "required" : [ "href" ],
        "type" : "object",
        "properties" : {
          "href" : {
            "$ref" : "#/components/schemas/Href"
          },
          "templated" : {
            "type" : "boolean"
          },
          "title" : {
            "type" : "string",
            "description" : "Voor mens leesbaar label bij de link"
          }
        },
        "description" : "De Link Object zoals gespecificeerd in https://tools.ietf.org/html/draft-kelly-json-hal-08#section-5; Deze link kan als templated link worden aangeboden. [URI-templating is hier beschreven](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/uri-templating.feature)."
      },
      "Href" : {
        "type" : "string",
        "example" : "https://datapunt.voorbeeldgemeente.nl/api/v{major-versie}/resourcename/{resource-identificatie}"
      },
      "NaamPersoon" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Naam"
        }, {
          "properties" : {
            "aanhef" : {
              "type" : "string",
              "description" : "Kun je gebruiken als aanhef in een brief gericht aan persoon.\n",
              "example" : "Hoogwelgeboren heer"
            },
            "aanschrijfwijze" : {
              "type" : "string",
              "description" : "Samengestelde naam die je kunt gebruiken in de communicatie met de persoon.\n",
              "example" : "H.W. baron van den Aedel"
            },
            "regelVoorafgaandAanAanschrijfwijze" : {
              "type" : "string",
              "description" : "Deze regel moet als aparte regel boven de aanschrijfwijze worden geplaatst. Komt alleen voor bij personen met een adellijke titel of predicaat.\n",
              "example" : "De hoogwelgeboren heer"
            },
            "gebruikInLopendeTekst" : {
              "type" : "string",
              "description" : "Naam van persoon die je kunt gebruiken als je in lopende tekst (bijvoorbeeld in een brief) aan persoon refereert.\n",
              "example" : "baron Van den Aedel"
            },
            "aanduidingNaamgebruik" : {
              "$ref" : "#/components/schemas/Naamgebruik_enum"
            },
            "inOnderzoek" : {
              "$ref" : "#/components/schemas/NaamPersoonInOnderzoek"
            }
          }
        } ]
      },
      "Naam" : {
        "type" : "object",
        "properties" : {
          "geslachtsnaam" : {
            "type" : "string",
            "description" : "De achternaam van een persoon.\n",
            "example" : "Vries"
          },
          "voorletters" : {
            "type" : "string",
            "description" : "De voorletters van de persoon, afgeleid van de voornamen.\n",
            "example" : "P.J."
          },
          "voornamen" : {
            "type" : "string",
            "description" : "De verzameling namen voor de geslachtsnaam, gescheiden door spaties.\n",
            "example" : "Pieter Jan"
          },
          "voorvoegsel" : {
            "type" : "string",
            "example" : "de"
          },
          "adellijkeTitelPredikaat" : {
            "$ref" : "#/components/schemas/Waardetabel"
          },
          "inOnderzoek" : {
            "$ref" : "#/components/schemas/NaamInOnderzoek"
          }
        }
      },
      "Waardetabel" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "example" : "6030"
          },
          "omschrijving" : {
            "type" : "string",
            "example" : "Nederland"
          }
        }
      },
      "NaamInOnderzoek" : {
        "type" : "object",
        "properties" : {
          "geslachtsnaam" : {
            "type" : "boolean"
          },
          "voornamen" : {
            "type" : "boolean"
          },
          "voorvoegsel" : {
            "type" : "boolean"
          },
          "adellijkeTitelPredikaat" : {
            "type" : "boolean"
          },
          "datumIngangOnderzoek" : {
            "$ref" : "#/components/schemas/DatumOnvolledig"
          }
        },
        "description" : "Geeft aan welke gegevens over de naam in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.1.0/features/in_onderzoek.feature)\n"
      },
      "DatumOnvolledig" : {
        "type" : "object",
        "properties" : {
          "dag" : {
            "maximum" : 31,
            "minimum" : 1,
            "type" : "integer",
            "description" : "Als de dag van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.",
            "example" : 3
          },
          "datum" : {
            "type" : "string",
            "description" : "Als de volledige datum bekend is wordt de datum gevuld die in de date definitie past.",
            "format" : "date"
          },
          "jaar" : {
            "maximum" : 9999,
            "type" : "integer",
            "description" : "Als het jaar van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.",
            "example" : 1989
          },
          "maand" : {
            "maximum" : 12,
            "minimum" : 1,
            "type" : "integer",
            "description" : "Als de maand van een datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.",
            "example" : 5
          }
        },
        "description" : "Gegevens over de datums die mogelijk niet volledig zijn."
      },
      "Naamgebruik_enum" : {
        "type" : "string",
        "description" : "De manier waarop de geslachtsnaam van persoon en partner van persoon moet worden verwerkt in de manier waarop persoon wil worden aangesproken\n* `eigen` - E - gebruik alleen de eigen naam\n* `eigen_partner` - N - gebruik de eigen naam voor de partnernaam\n* `partner` - P gebruik alleen de partnernaam\n* `partner_eigen` - V - gebruik de partnernaam voor de eigen naam.\n\n\nDe aanduiding naamgebruik is verwerkt in Aanhef, Aanschrijfwijze en gebruikInLopendeTekst.\"\n",
        "enum" : [ "eigen", "eigen_partner", "partner", "partner_eigen" ]
      },
      "NaamPersoonInOnderzoek" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/NaamInOnderzoek"
        }, {
          "properties" : {
            "aanduidingNaamgebruik" : {
              "type" : "boolean"
            }
          }
        } ]
      },
      "SoortAdres_enum" : {
        "type" : "string",
        "description" : "Aanduiding van het soort adres\n* `woonadres` - W - adres waar de persoon woont\n* `briefadres` - B - het adres van een andere persoon of van een instelling (de zogenoemde briefadresgever). Met dit adres van de briefadresgever is de persoon zonder woonadres toch bereikbaar voor de overheid.\n",
        "enum" : [ "woonadres", "briefadres" ]
      },
      "DatumOnvolledig_2" : {
        "type" : "object",
        "properties" : {
          "dag" : {
            "maximum" : 31,
            "minimum" : 1,
            "type" : "integer",
            "description" : "Als de dag van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.",
            "example" : 3
          },
          "datum" : {
            "type" : "string",
            "description" : "Als de volledige datum bekend is wordt de datum gevuld die in de date definitie past.",
            "format" : "date",
            "example" : "1989-05-03"
          },
          "jaar" : {
            "maximum" : 9999,
            "type" : "integer",
            "description" : "Als het jaar van de datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.",
            "example" : 1989
          },
          "maand" : {
            "maximum" : 12,
            "minimum" : 1,
            "type" : "integer",
            "description" : "Als de maand van een datum bekend is wordt dit element gevuld, ook als de volledige datum bekend is.",
            "example" : 5
          }
        },
        "description" : "Gegevens over de datums die mogelijk niet volledig zijn."
      }
    },
    "parameters" : {
      "adresseerbaarObjectIdentificatieRequired" : {
        "name" : "adresseerbaarObjectIdentificatie",
        "in" : "query",
        "description" : "De unieke identificatie van een verblijfsobject, standplaats of ligplaats.",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "^[0-9]{16}$",
          "type" : "string",
          "example" : "0226010000038820"
        }
      },
      "datumVanRequired" : {
        "name" : "datumVan",
        "in" : "query",
        "description" : "De begindatum van de periode waarover de resource wordt opgevraagd.",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string",
          "format" : "date",
          "example" : "2018-09-09"
        }
      },
      "datumTotEnMetRequired" : {
        "name" : "datumTotEnMet",
        "in" : "query",
        "description" : "De einddatum van de periode waarover de resource wordt opgevraagd.",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string",
          "format" : "date",
          "example" : "2018-10-09"
        }
      },
      "fields" : {
        "name" : "fields",
        "in" : "query",
        "description" : "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven.\nBij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.\nWanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)\n",
        "required" : true,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "pattern" : "^[a-zA-Z.,_]+$",
          "type" : "string"
        }
      },
      "toonBewoonSamenstelling" : {
        "name" : "toonBewoonSamenstelling",
        "in" : "query",
        "description" : "Geeft aan hoe de bewoning moet worden getoond:\n\n- false (default): alle bewoners van een adresseerbaarobject in de gevraagde periode\n- true: de gevraagde periode wordt gesplitst bij wijziging van bewoning samenstelling\n",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "boolean",
          "default" : false
        }
      }
    },
    "headers" : {
      "api_version" : {
        "schema" : {
          "type" : "string",
          "description" : "Geeft een specifieke API-versie aan in de context van een specifieke aanroep.",
          "example" : "1.0.0"
        }
      },
      "warning" : {
        "schema" : {
          "type" : "string",
          "description" : "zie RFC 7234. In het geval een major versie wordt uitgefaseerd, gebruiken we warn-code 299 (\"Miscellaneous Persistent Warning\") en het API end-point (inclusief versienummer) als de warn-agent van de warning, gevolgd door de warn-text met de human-readable waarschuwing",
          "example" : "299 https://service.../api/.../v1 \"Deze versie van de API is verouderd en zal uit dienst worden genomen op 2018-02-01. Raadpleeg voor meer informatie hier de documentatie: https://omgevingswet.../api/.../v1\"."
        }
      }
    }
  }
}