openapi: 3.0.0
info:
  title: Bewoning
  description: |
    API voor het ontsluiten van historische gegevens over de bewoning van een adres.
    De gegevens van de bewoners zijn actueel.Zie de Functionele documentatie voor nadere toelichting.
  contact:
    url: https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bewoning
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/
  version: 0.0.1(develop)
servers:
- url: https://www.haalcentraal.nl/haalcentraal/api/brpbewoning
  description: |
    APILAB testserver bewoning
tags:
- name: Bewoning
paths:
  /bewoningen:
    get:
      tags:
      - Bewoning
      description: |
        Het zoeken van bewoningen.

        Een bewoning is adresseerbaarobject, inclusief bijbehorende adressen, waar nu en/of in het verleden een of meerdere personen zijn of waren ingeschreven.
        Op basis van de adresseerbaarObjectIdentificatie retourneert Bewoning de personen die op de verblijfplaats(en), behorende bij het adresseerbaarObject zijn ingeschreven of waren ingeschreven.

        Op basis van de parameters wordt een of meerdere bewoningen geretourneerd inclusief gegevens over de bewoners van het betreffende verblijfobject.
        Één van de volgende parameters moet zijn opgenomen :
          * `adresseerbaarObjectIdentificatie`
          * `burgerservicenummer`

        De bovenstaande parameters moeten gecombineerd worden met een peildatum of een periode.

        Overleden personen worden opgenomen in het zoekresultaat tot aan de datum van overlijden voor zover deze datum overlijden binnen de opgevraagde periode valt.
      operationId: getBewoningen
      parameters:
      - name: expand
        in: query
        description: Hiermee kun je opgeven welke gerelateerde resources meegeleverd
          moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of
          enkele properties geef je in de expand parameter kommagescheiden op. Properties
          die je wil ontvangen geef je op met de resource-naam gevolgd door de property
          naam, met daartussen een punt. In de definitie van het antwoord kun je bij
          _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie
          [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/expand.feature).
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        required: false
        schema:
          type: string
      - name: peildatum
        in: query
        description: De datum waarop de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-09-09
      - name: datumVan
        in: query
        description: De begindatum van de periode waarover de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-09-09
      - name: datumTotEnMet
        in: query
        description: De einddatum van de periode waarover de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-10-09
      - name: burgerservicenummer
        in: query
        description: |
          Uniek persoonsnummer.
        required: false
        style: form
        explode: false
        schema:
          maxLength: 9
          minLength: 9
          pattern: ^[0-9]*$
          type: string
        example: "999993653"
      - name: adresseerbaarObjectIdentificatie
        in: query
        description: |
          De identificatie van een adresseerbaar object uit de BAG. Dit kan een verblijfsobject, een standplaats of een ligplaats zijn.
        required: false
        style: form
        explode: true
        schema:
          pattern: ^[0-9]{16}$
          type: string
          example: "0226010000038820"
      responses:
        "200":
          description: |
            Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BewoningHalCollectie'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "406":
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "501":
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to
                  fulfill the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
  /bewoningen/{adresseerbaarObjectIdentificatie}:
    get:
      tags:
      - Bewoning
      description: |
        Het ophalen van de gegevens van een enkele Bewoning.
      operationId: getBewoning
      parameters:
      - name: expand
        in: query
        description: Hiermee kun je opgeven welke gerelateerde resources meegeleverd
          moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of
          enkele properties geef je in de expand parameter kommagescheiden op. Properties
          die je wil ontvangen geef je op met de resource-naam gevolgd door de property
          naam, met daartussen een punt. In de definitie van het antwoord kun je bij
          _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie
          [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/expand.feature).
        required: false
        schema:
          type: string
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        required: false
        schema:
          type: string
      - name: peildatum
        in: query
        description: De datum waarop de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-09-09
      - name: datumVan
        in: query
        description: De begindatum van de periode waarover de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-09-09
      - name: datumTotEnMet
        in: query
        description: De einddatum van de periode waarover de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-10-09
      - name: adresseerbaarObjectIdentificatie
        in: path
        description: |
          De identificatie van een adresseerbaar object uit de BAG. Dit kan een verblijfsobject, een standplaats of een ligplaats zijn.
        required: true
        style: simple
        explode: false
        schema:
          pattern: ^[0-9]{16}$
          type: string
          example: "0226010000038820"
      responses:
        "200":
          description: |
            Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BewoningHal'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "406":
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "501":
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to
                  fulfill the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
  /bewoningen/{adresseerbaarObjectIdentificatie}/verloop:
    get:
      tags:
      - Bewoning
      description: |
        Het ophalen van de gegevens van het verloop van de bewoning van een adresseerbaar object binnen een gegeven periode. Op basis van de adresseerbaarobjectIdentificatie, een datum **datumVan** en een datum **datumTotEnMet** worden kengetallen van het verloop van de bewoning van dit adresseerbaarobject opgehaald.
      operationId: getBewoningverloop
      parameters:
      - name: fields
        in: query
        description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        required: false
        schema:
          type: string
      - name: datumVan
        in: query
        description: De begindatum van de periode waarover de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-09-09
      - name: datumTotEnMet
        in: query
        description: De einddatum van de periode waarover de resource wordt opgevraagd.
        required: false
        schema:
          type: string
          format: date
          example: 2018-10-09
      - name: adresseerbaarObjectIdentificatie
        in: path
        description: |
          De identificatie van een adresseerbaar object uit de BAG. Dit kan een verblijfsobject, een standplaats of een ligplaats zijn.
        required: true
        style: simple
        explode: false
        schema:
          pattern: ^[0-9]{16}$
          type: string
          example: "0226010000038820"
      responses:
        "200":
          description: |
            Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Verloop'
        "400":
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "406":
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "500":
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "501":
          description: Not Implemented
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2
                title: Not Implemented
                status: 501
                detail: The server does not support the functionality required to
                  fulfill the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notImplemented
        "503":
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Foutbericht'
components:
  schemas:
    Bewoning:
      type: object
      properties:
        adresseerbaarObjectIdentificatie:
          type: string
          description: |
            De unieke identificatie van een verblijfsobject.
        bewoningPerAdres:
          type: array
          items:
            $ref: '#/components/schemas/BewoningPerAdres'
    BewoningPerAdres:
      type: object
      allOf:
      - $ref: '#/components/schemas/Adres'
      - properties:
          nummeraanduidingIdentificatie:
            type: string
            description: |
              De unieke aanduiding van een nummeraanduiding.
            example: "0518200001645858"
          isNevenadres:
            type: boolean
            description: Indicatie dat dit adres een nevenadres is van een adresseerbaar
              object. Het adres is een hoofdadres als deze indicatie niet wordt meegeleverd.
          bewoners:
            type: array
            items:
              $ref: '#/components/schemas/Bewoner'
          indicatieVeelBewoners:
            type: boolean
            description: |
              Indicator die aangeeft dat het betreffende adres veel bewoners heeft of had in de gevraagde periode. Wanneer deze indicator is opgenomen met de waarde true, worden deze bewoners niet in het antwoord opgenomen met uitzondering van de gevraagde persoon (in het geval dat bewoningen zijn gevraagd op burgerservicenummer). Als de waarde false is wordt de indicator niet meegeleverd."
        description: |
          Een bewoningPerAdres is een adres waar nu en/of in het verleden een of meerdere personen zijn of waren ingeschreven, inclusief enkele gegevens van de personen.
    BewoningHalBasis:
      allOf:
      - $ref: '#/components/schemas/Bewoning'
      - properties:
          _links:
            $ref: '#/components/schemas/BewoningLinks'
    BewoningHal:
      allOf:
      - $ref: '#/components/schemas/BewoningHalBasis'
      - properties:
          _embedded:
            $ref: '#/components/schemas/BewoningEmbedded'
    BewoningHalCollectie:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/HalCollectionLinks'
        _embedded:
          $ref: '#/components/schemas/BewoningHalCollectieEmbedded'
    BewoningHalCollectieEmbedded:
      type: object
      properties:
        bewoningen:
          type: array
          items:
            $ref: '#/components/schemas/BewoningHal'
    BewoningLinks:
      type: object
      properties:
        ingeschrevenPersonen:
          type: array
          description: |
            De ingeschreven natuurlijk personen die bewoner zijn of waren.
          items:
            $ref: '#/components/schemas/HalLink'
        nummeraanduidingen:
          type: array
          items:
            $ref: '#/components/schemas/HalLink'
        adresseerbaarObject:
          $ref: '#/components/schemas/HalLink'
    BewoningEmbedded:
      type: object
      properties:
        ingeschrevenPersonen:
          type: array
          items:
            $ref: '#/components/schemas/IngeschrevenPersoonHalBasis'
    Bewoner:
      type: object
      properties:
        burgerservicenummer:
          type: string
          example: "555555021"
        datumTot:
          $ref: '#/components/schemas/DatumOnvolledig'
        datumAanvangAdreshouding:
          $ref: '#/components/schemas/DatumOnvolledig'
        geheimhoudingPersoonsgegevens:
          title: Indicatie geheim
          type: boolean
          description: |
            Een aanduiding die aangeeft dat gegevens wel of niet verstrekt mogen worden.
            Indien true: op verzoek van deze persoon is het verstrekken van gegevens over deze persoon aan bepaalde derden niet toegestaan.
        indicatieVerblijfsplaatsInOnderzoek:
          type: boolean
        functieadres:
          $ref: '#/components/schemas/SoortAdres_enum'
      description: |
        Een bewoner is een natuurlijk persoon die nu en/of in het verleden op het betreffende adres ingeschreven staat of heeft gestaan.
        * `datumAanvangAdreshouding` : Datum waarop de bewoner op dit adres is ingeschreven.
        * `datumTot` : Datum waarop de bewoner van dit adres is uitgeschreven.
    Verloop:
      type: object
      properties:
        inVerhuizingen:
          type: integer
          description: |
            Het aantal keren dat een alleenstaande of gezin naar het adres is verhuisd binnen de opgegeven periode.
          example: 3
        uitVerhuizingen:
          type: integer
          description: |
            Het aantal keer dat een alleenstaande of gezin van het adres naar een ander adres is verhuisd binnen de opgegeven periode.
          example: 14
        gemiddeldAantalBewoners:
          type: number
          description: |
            Gemiddeld aantal bewoners in de gevraagde periode.
          format: float
          example: 2.7
    BadRequestFoutbericht:
      allOf:
      - $ref: '#/components/schemas/Foutbericht'
      - type: object
        properties:
          invalidParams:
            type: array
            description: Foutmelding per fout in een parameter. Alle gevonden fouten
              worden één keer teruggemeld.
            items:
              $ref: '#/components/schemas/InvalidParams'
    Foutbericht:
      type: object
      properties:
        type:
          type: string
          description: Link naar meer informatie over deze fout
          format: uri
        title:
          type: string
          description: Beschrijving van de fout
        status:
          type: integer
          description: Http status code
        detail:
          type: string
          description: Details over de fout
        instance:
          type: string
          description: Uri van de aanroep die de fout heeft veroorzaakt
          format: uri
        code:
          minLength: 1
          type: string
          description: Systeemcode die het type fout aangeeft
      description: Terugmelding bij een fout. JSON representatie in lijn met [RFC7807](https://tools.ietf.org/html/rfc7807).
    InvalidParams:
      type: object
      properties:
        type:
          type: string
          format: uri
          example: https://www.vng.nl/realisatie/api/{major-versie}/validaties/integer
        name:
          type: string
          description: Naam van de parameter
          example: verblijfplaats__huisnummer
        code:
          minLength: 1
          type: string
          description: Systeemcode die het type fout aangeeft
          example: integer
        reason:
          type: string
          description: Beschrijving van de fout op de parameterwaarde
          example: Waarde is geen geldige integer.
      description: Details over fouten in opgegeven parameters
    Adres:
      type: object
      properties:
        straat:
          title: openbareruimte naam
          type: string
          description: Een naam die door de gemeente aan een openbare ruimte is gegeven.
          example: Laan van de landinrichtingscommissie Duiven-Westervoort
        huisnummer:
          type: integer
          description: Een nummer dat door de gemeente aan een adresseerbaar object
            is gegeven.
          example: 1
        huisletter:
          type: string
          description: Een toevoeging aan een huisnummer in de vorm van een letter
            die door de gemeente aan een adresseerbaar object is gegeven.
          example: A
        huisnummertoevoeging:
          type: string
          description: Een toevoeging aan een huisnummer of een combinatie van huisnummer
            en huisletter die door de gemeente aan een adresseerbaar object is gegeven.
          example: bis
        postcode:
          type: string
          description: De door PostNL vastgestelde code die bij een bepaalde combinatie
            van een straatnaam en een huisnummer hoort.
          example: 6922KZ
        woonplaats:
          title: woonplaats naam
          type: string
          description: Een woonplaats is een gedeelte van het grondgebied van de gemeente
            met een naam.
          example: Duiven
      description: 'Eigenschappen van het adres die kunnen worden hergebruikt in andere
        API''s waarin adresgegevens worden opgenomen. '
    HalCollectionLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/HalLink'
      description: |
        HalCollectionLinks bevat de self link die elke HAL Resource minimaal moet hebben in zijn _links property
    HalLink:
      required:
      - href
      type: object
      properties:
        href:
          $ref: '#/components/schemas/Href'
        templated:
          type: boolean
        title:
          type: string
          description: Voor mens leesbaar label bij de link
      description: De Link Object zoals gespecificeerd in https://tools.ietf.org/html/draft-kelly-json-hal-08#section-5;
        Deze link kan als templated link worden aangeboden. [URI-templating is hier
        beschreven](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/uri-templating.feature).
    Href:
      type: string
      example: https://datapunt.voorbeeldgemeente.nl/api/v{major-versie}/resourcename/{resource-identificatie}
    IngeschrevenPersoonHalBasis:
      allOf:
      - $ref: '#/components/schemas/IngeschrevenPersoon'
      - properties:
          _links:
            $ref: '#/components/schemas/IngeschrevenPersoonLinks'
    IngeschrevenPersoon:
      type: object
      properties:
        burgerservicenummer:
          type: string
          example: "555555021"
        geheimhoudingPersoonsgegevens:
          title: Indicatie geheim
          type: boolean
          description: |
            Gegevens mogen niet worden verstrekt aan derden / maatschappelijke instellingen.
        geslachtsaanduiding:
          $ref: '#/components/schemas/Geslacht_enum'
        leeftijd:
          type: integer
          description: |
            Leeftijd in jaren op het moment van bevragen.
          example: 34
        datumEersteInschrijvingGBA:
          $ref: '#/components/schemas/DatumOnvolledig'
        kiesrecht:
          $ref: '#/components/schemas/Kiesrecht'
        naam:
          $ref: '#/components/schemas/NaamPersoon'
        inOnderzoek:
          $ref: '#/components/schemas/PersoonInOnderzoek'
        nationaliteiten:
          type: array
          items:
            $ref: '#/components/schemas/Nationaliteit'
        geboorte:
          $ref: '#/components/schemas/Geboorte'
        opschortingBijhouding:
          $ref: '#/components/schemas/OpschortingBijhouding'
        overlijden:
          $ref: '#/components/schemas/Overlijden'
        verblijfplaats:
          $ref: '#/components/schemas/Verblijfplaats'
        gezagsverhouding:
          $ref: '#/components/schemas/Gezagsverhouding'
        verblijfstitel:
          $ref: '#/components/schemas/Verblijfstitel'
        reisdocumentnummers:
          type: array
          items:
            $ref: '#/components/schemas/Reisdocumentnummer'
    Geslacht_enum:
      type: string
      description: |
        Geeft aan dat de persoon een man of vrouw is, of dat het geslacht (nog) onbekend is
        * `man` - M
        * `vrouw` - V
        * `onbekend` - O
      enum:
      - man
      - vrouw
      - onbekend
    DatumOnvolledig:
      type: object
      properties:
        dag:
          maximum: 31
          minimum: 1
          type: integer
          description: Als de dag van de datum bekend is wordt dit element gevuld,
            ook als de volledige datum bekend is.
          example: 3
        datum:
          type: string
          description: Als de volledige datum bekend is wordt de datum gevuld die
            in de date definitie past.
          format: date
          example: 1989-05-03
        jaar:
          maximum: 9999
          type: integer
          description: Als het jaar van de datum bekend is wordt dit element gevuld,
            ook als de volledige datum bekend is.
          example: 1989
        maand:
          maximum: 12
          minimum: 1
          type: integer
          description: Als de maand van een datum bekend is wordt dit element gevuld,
            ook als de volledige datum bekend is.
          example: 5
      description: Gegevens over de datums die mogelijk niet volledig zijn.
    Kiesrecht:
      type: object
      properties:
        europeesKiesrecht:
          type: boolean
          description: |
            Geeft aan of persoon een oproep moet ontvangen voor verkiezingen voor het Europees parlement.
          example: true
        uitgeslotenVanKiesrecht:
          type: boolean
          example: true
        einddatumUitsluitingEuropeesKiesrecht:
          $ref: '#/components/schemas/DatumOnvolledig'
        einddatumUitsluitingKiesrecht:
          $ref: '#/components/schemas/DatumOnvolledig'
    NaamPersoon:
      allOf:
      - $ref: '#/components/schemas/Naam'
      - properties:
          aanhef:
            type: string
            description: |
              Kun je gebruiken als aanhef in een brief gericht aan persoon.
            example: Geachte heer In het Veld
          aanschrijfwijze:
            type: string
            description: |
              Samengestelde naam die je kunt gebruiken in de communicatie met de persoon.
            example: H. in het Veld
          gebruikInLopendeTekst:
            type: string
            description: |
              Naam van persoon die je kunt gebruiken als je in lopende tekst (bijvoorbeeld in een brief) aan persoon refereert.
            example: de heer In het Veld
          aanduidingNaamgebruik:
            $ref: '#/components/schemas/Naamgebruik_enum'
    Naam:
      type: object
      properties:
        geslachtsnaam:
          type: string
          description: |
            De achternaam van een persoon.
          example: Vries
        voorletters:
          type: string
          description: |
            De voorletters van de persoon, afgeleid van de voornamen.
          example: P.J.
        voornamen:
          type: string
          description: |
            De verzameling namen voor de geslachtsnaam, gescheiden door spaties.
          example: Pieter Jan
        voorvoegsel:
          type: string
          example: de
        inOnderzoek:
          $ref: '#/components/schemas/NaamInOnderzoek'
    NaamInOnderzoek:
      type: object
      properties:
        geslachtsnaam:
          type: boolean
        voornamen:
          type: boolean
        voorvoegsel:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens over de naam in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
    Naamgebruik_enum:
      type: string
      description: |
        De manier waarop de geslachtsnaam van persoon en partner van persoon moet worden verwerkt in de manier waarop persoon wil worden aangesproken
        * `eigen` - E - gebruik alleen de eigen naam
        * `eigen_partner` - N - gebruik de eigen naam voor de partnernaam
        * `partner` - P gebruik alleen de partnernaam
        * `partner_eigen` - V - gebruik de partnernaam voor de eigen naam.


        De aanduiding naamgebruik is verwerkt in Aanhef, Aanschrijfwijze en gebruikInLopendeTekst."
      enum:
      - eigen
      - eigen_partner
      - partner
      - partner_eigen
    PersoonInOnderzoek:
      type: object
      properties:
        burgerservicenummer:
          type: boolean
        geslachtsaanduiding:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens van de persoon in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature).
    Nationaliteit:
      type: object
      properties:
        aanduidingBijzonderNederlanderschap:
          $ref: '#/components/schemas/AanduidingBijzonderNederlanderschap_enum'
        datumIngangGeldigheid:
          $ref: '#/components/schemas/DatumOnvolledig'
        nationaliteit:
          $ref: '#/components/schemas/Waardetabel'
        redenOpname:
          $ref: '#/components/schemas/Waardetabel'
        inOnderzoek:
          $ref: '#/components/schemas/NationaliteitInOnderzoek'
      description: |
        * **redenOpname** : De reden op grond waarvan de persoon de nationaliteit gekregen heeft.
    AanduidingBijzonderNederlanderschap_enum:
      type: string
      description: |
        Geeft aan dat de persoon behandeld wordt als Nederlander, of dat door de rechter is vastgesteld dat de persoon niet de Nederlandse nationaliteit bezit
        * `behandeld_als_nederlander` - B
        * `vastgesteld_niet_nederlander` - V
      enum:
      - behandeld_als_nederlander
      - vastgesteld_niet_nederlander
    Waardetabel:
      type: object
      properties:
        code:
          type: string
          example: "6030"
        omschrijving:
          type: string
          example: Nederland
    NationaliteitInOnderzoek:
      type: object
      properties:
        aanduidingBijzonderNederlanderschap:
          type: boolean
        nationaliteit:
          type: boolean
        redenOpname:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens over de nationaliteit in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
    Geboorte:
      allOf:
      - $ref: '#/components/schemas/Geboortedatum'
      - properties:
          land:
            $ref: '#/components/schemas/Waardetabel'
          plaats:
            $ref: '#/components/schemas/Waardetabel'
          inOnderzoek:
            $ref: '#/components/schemas/GeboorteInOnderzoek'
        description: |
          Gegevens over de geboorte.
          * **datum** : datum waarop de persoon is geboren.
          * **land** : land waar de persoon is geboren
          * **plaats** : plaats waar de persoon is geboren. Voor een plaats buiten Nederland is gemeentecode=1999 (RNI) en gemeentenaam de buitenlandse plaatsnaam of aanduiding.
    Geboortedatum:
      type: object
      properties:
        datum:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Gegevens over de geboorte van respectievelijk de persoon, de ouder, de echtgenoot/geregistreerd partner, de eerdere echtgenoot/geregistreerd partner of het kind.
        * **datum** : Datum waarop de persoon is geboren
        * **land** : Land waar de persoon is geboren
        * **plaats** : De plaats waar de persoon is geboren. Voor een plaats buiten Nederland is gemeentecode=1999 (RNI) en gemeentenaam de buitenlandse plaatsnaam of aanduiding.
    GeboorteInOnderzoek:
      type: object
      properties:
        datum:
          type: boolean
        land:
          type: boolean
        plaats:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens over de geboorte van de persoon in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
    OpschortingBijhouding:
      type: object
      properties:
        reden:
          $ref: '#/components/schemas/RedenOpschortingBijhouding_enum'
        datum:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        * **datum**: de datum waarop de bijhouding van de persoonsgegevens is gestaakt.
    RedenOpschortingBijhouding_enum:
      type: string
      description: |
        Redenen voor opschorting van de bijhouding
        * `overlijden` - O
        * `emigratie` - E
        * `ministerieel_besluit` - M
        * `pl_aangelegd_in_de_rni` - R - opgeschort omdat persoon is ingeschreven in het Register Niet Ingezeten (RNI).
        * `fout` - F
      enum:
      - overlijden
      - emigratie
      - ministerieel_besluit
      - pl_aangelegd_in_de_rni
      - fout
    Overlijden:
      type: object
      properties:
        indicatieOverleden:
          type: boolean
          description: |
            Geeft aan dat iemand is overleden (waarde true), ongeacht of de overlijdensdatum bekend is.
        datum:
          $ref: '#/components/schemas/DatumOnvolledig'
        land:
          $ref: '#/components/schemas/Waardetabel'
        plaats:
          $ref: '#/components/schemas/Waardetabel'
        inOnderzoek:
          $ref: '#/components/schemas/OverlijdenInOnderzoek'
      description: |
        Gegevens over het overlijden van de persoon.
        * **datum** : datum waarop de persoon is overleden.
        * **land** : land waar de persoon is overleden.
        * **plaats** : plaats waar de persoon is overleden. Voor een plaats buiten Nederland is gemeentecode=1999 (RNI) en gemeentenaam de buitenlandse plaatsnaam of aanduiding.
    OverlijdenInOnderzoek:
      type: object
      properties:
        datum:
          type: boolean
        land:
          type: boolean
        plaats:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens over het overlijden van de persoon in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
    Verblijfplaats:
      allOf:
      - $ref: '#/components/schemas/Adres'
      - properties:
          adresseerbaarObjectIdentificatie:
            type: string
            description: |
              De verblijfplaats van de persoon kan een ligplaats, een standplaats of een verblijfsobject zijn.
            example: "0226010000038820"
          aanduidingBijHuisnummer:
            $ref: '#/components/schemas/AanduidingBijHuisnummer_enum'
          nummeraanduidingIdentificatie:
            type: string
            description: |
              Unieke identificatie van een nummeraanduiding (en het bijbehorende adres) in de BAG.
            example: "0518200000366054"
          functieAdres:
            $ref: '#/components/schemas/SoortAdres_enum'
          indicatieVestigingVanuitBuitenland:
            type: boolean
            description: |
              Geeft aan dat de ingeschreven persoon zich vanuit het buitenland heeft ingeschreven.
          locatiebeschrijving:
            type: string
            description: |
              Omschrijving van de ligging van een verblijfsobject, standplaats of ligplaats.
            example: Naast de derde brug
          korteNaam:
            type: string
            description: |
              De officiële openbareruimtenaam uit de Basisregistratie Gebouwen en Adressen (BAG) of een verkorte versie.
          vanuitVertrokkenOnbekendWaarheen:
            type: boolean
            description: |
              Geeft aan dat de persoon is teruggekeerd uit een situatie van 'vertrokken onbekend waarheen.'
            example: true
          datumAanvangAdreshouding:
            $ref: '#/components/schemas/DatumOnvolledig'
          datumIngangGeldigheid:
            $ref: '#/components/schemas/DatumOnvolledig'
          datumInschrijvingInGemeente:
            $ref: '#/components/schemas/DatumOnvolledig'
          datumVestigingInNederland:
            $ref: '#/components/schemas/DatumOnvolledig'
          gemeenteVanInschrijving:
            $ref: '#/components/schemas/Waardetabel'
          landVanwaarIngeschreven:
            $ref: '#/components/schemas/Waardetabel'
          adresregel1:
            type: string
            description: |
              Het eerste deel van een adres is een combinatie van de straat en huisnummer.
            example: Laan van de landinrichtingscommissie Duiven-Westervoort 26A-3
          adresregel2:
            type: string
            description: |
              Het tweede deel van een adres is een combinatie van woonplaats eventueel in combinatie met de postcode.
            example: 1234AA Nootdorp
          adresregel3:
            type: string
            description: |
              Het derde deel van een adres is optioneel. Het gaat om een of meer geografische gebieden van het adres in het buitenland.
            example: Selangor
          vertrokkenOnbekendWaarheen:
            type: boolean
            description: |
              Indicatie dat de ingeschreven persoon is vertrokken naar het buitenland, maar dat niet bekend is waar naar toe.
          land:
            $ref: '#/components/schemas/Waardetabel'
          inOnderzoek:
            $ref: '#/components/schemas/VerblijfplaatsInOnderzoek'
        description: |
          Gegevens over het verblijf of de woonlocatie van een persoon.
          * **datumAanvangAdreshuishouding** : de datum van aangifte of ambtshalve melding van verblijf en adres.
          * **datumIngangGeldigheid** : datum waarop de gegevens over de verblijfplaats geldig zijn geworden.
          * **datumInschrijvingInGemeente**: bij inschrijving op grond van een verhuisaangifte door de burger is dit de aangiftedatum. Bij inschrijving op grond van een geboorteakte is dit de geboortedatum. Bij ambtshalve inschrijving is dit de datum waarop het voornemen van ambtshalve opneming schriftelijk aan de persoon is medegedeeld.
          * **datumVestigingInNederland** : datum van inschrijving in Nederland.
          * **landVanWaarIngeschreven** : het land waar de persoon woonde voor (her)vestiging in Nederland.
          * **gemeenteVanInschrijving** : de gemeente waar de persoon verblijft en is ingeschreven. De code kan voorloopnullen bevatten."
    AanduidingBijHuisnummer_enum:
      type: string
      description: |
        De aanduiding die wordt gebruikt voor adressen die geen straatnaam en huisnummeraanduidingen hebben
        * `tegenover` - to
        * `bij` - by
      enum:
      - tegenover
      - bij
    SoortAdres_enum:
      type: string
      description: |
        Aanduiding van het soort adres
        * `woonadres` - W - adres waar de persoon woont
        * `briefadres` - B - het adres van een andere persoon of van een instelling (de zogenoemde briefadresgever). Met dit adres van de briefadresgever is de persoon zonder woonadres toch bereikbaar voor de overheid.
      enum:
      - woonadres
      - briefadres
    VerblijfplaatsInOnderzoek:
      type: object
      properties:
        aanduidingBijHuisnummer:
          type: boolean
        datumAanvangAdreshouding:
          type: boolean
        datumIngangGeldigheid:
          type: boolean
        datumInschrijvingInGemeente:
          type: boolean
        datumVestigingInNederland:
          type: boolean
        functieAdres:
          type: boolean
        gemeenteVanInschrijving:
          type: boolean
        huisletter:
          type: boolean
        huisnummer:
          type: boolean
        huisnummertoevoeging:
          type: boolean
        nummeraanduidingIdentificatie:
          type: boolean
        adresseerbaarObjectIdentificatie:
          type: boolean
        landVanwaarIngeschreven:
          type: boolean
        locatiebeschrijving:
          type: boolean
        straat:
          type: boolean
        postcode:
          type: boolean
        korteNaam:
          type: boolean
        verblijfBuitenland:
          type: boolean
        woonplaats:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens over het verblijf en adres van de persoon in onderzoek zijn. Elementen van het GBA-adres zelf (Dat zou eigenlijk een BAG-adres moeten zijn) kunnen niet in onderzoek zijn. Wel de relatie naar de nummeraanduiding. Dat wordt gedaan door de identificatiecodeNummeraanduiding in onderzoek te zetten. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
    Gezagsverhouding:
      type: object
      properties:
        indicatieCurateleRegister:
          type: boolean
          description: |
            Geeft aan dat de persoon onder curatele is gesteld.
          example: true
        indicatieGezagMinderjarige:
          $ref: '#/components/schemas/IndicatieGezagMinderjarige_enum'
        inOnderzoek:
          $ref: '#/components/schemas/GezagsverhoudingInOnderzoek'
      description: |
        Gegevens over het gezag over de persoon.
    IndicatieGezagMinderjarige_enum:
      type: string
      description: |
        Geeft aan wie het gezag heeft over de minderjarige persoon.
        * `ouder1` - 1
        * `ouder2` - 2
        * `derden` - D
        * `ouder1_en_derde` - 1D
        * `ouder2_en_derde` - 2D
        * `ouder1_en_ouder2` - 12
      enum:
      - ouder1
      - ouder2
      - derden
      - ouder1_en_derde
      - ouder2_en_derde
      - ouder1_en_ouder2
    GezagsverhoudingInOnderzoek:
      type: object
      properties:
        indicatieCurateleRegister:
          type: boolean
        indicatieGezagMinderjarige:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens van de gezagsverhouding in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
    Verblijfstitel:
      type: object
      properties:
        aanduiding:
          $ref: '#/components/schemas/Waardetabel'
        datumEinde:
          $ref: '#/components/schemas/DatumOnvolledig'
        datumIngang:
          $ref: '#/components/schemas/DatumOnvolledig'
        inOnderzoek:
          $ref: '#/components/schemas/VerblijfstitelInOnderzoek'
      description: |
        Gegevens over de verblijfsrechtelijke status van de persoon.
        * **datumEinde**: Datum waarop de geldigheid van de gegevens over de verblijfstitel is beëindigd.
        * **datumIngang**: Datum waarop de gegevens over de verblijfstitel geldig zijn geworden.
        * **aanduiding** : Verblijfstiteltabel die aangeeft over welke verblijfsrechtelijke status de persoon beschikt.
    VerblijfstitelInOnderzoek:
      type: object
      properties:
        aanduiding:
          type: boolean
        datumEinde:
          type: boolean
        datumIngang:
          type: boolean
        datumIngangOnderzoek:
          $ref: '#/components/schemas/DatumOnvolledig'
      description: |
        Geeft aan welke gegevens over de verblijfstitel in onderzoek zijn. Zie de [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bevragen/blob/v1.0.0/features/in_onderzoek.feature)
    Reisdocumentnummer:
      type: string
      description: |
        Het nummer van het verstrekte Nederlandse reisdocument.
      example: "546376728"
    IngeschrevenPersoonLinks:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/HalLink'
        ouders:
          type: array
          description: |
            De ouders van de persoon.
          items:
            $ref: '#/components/schemas/HalLink'
        reisdocumenten:
          type: array
          description: |
            De reisdocumenten die aan de persoon zijn verstrekt.
          items:
            $ref: '#/components/schemas/HalLink'
        kinderen:
          type: array
          description: |
            De kinderen van de persoon.
          items:
            $ref: '#/components/schemas/HalLink'
        partners:
          type: array
          description: |
            De actuele bij de ingeschreven persoon geregistreerde huwelijken en geregistreerd partnerschappen. Een beëindigd huwelijk of geregistreerd partnerschap wordt niet teruggegeven.
          items:
            $ref: '#/components/schemas/HalLink'
        partnerhistorie:
          $ref: '#/components/schemas/HalLink'
        verblijfplaatshistorie:
          $ref: '#/components/schemas/HalLink'
        verblijfstitelhistorie:
          $ref: '#/components/schemas/HalLink'
        nationaliteitHistorie:
          $ref: '#/components/schemas/HalLink'
        adres:
          $ref: '#/components/schemas/HalLink'
  parameters:
    adresseerbaarObjectIdentificatie:
      name: adresseerbaarObjectIdentificatie
      in: path
      description: |
        De identificatie van een adresseerbaar object uit de BAG. Dit kan een verblijfsobject, een standplaats of een ligplaats zijn.
      required: true
      style: simple
      explode: false
      schema:
        pattern: ^[0-9]{16}$
        type: string
        example: "0226010000038820"
  headers:
    api_version:
      schema:
        type: string
        description: Geeft een specifieke API-versie aan in de context van een specifieke
          aanroep.
        example: 1.0.0
    warning:
      schema:
        type: string
        description: zie RFC 7234. In het geval een major versie wordt uitgefaseerd,
          gebruiken we warn-code 299 ("Miscellaneous Persistent Warning") en het API
          end-point (inclusief versienummer) als de warn-agent van de warning, gevolgd
          door de warn-text met de human-readable waarschuwing
        example: '299 https://service.../api/.../v1 "Deze versie van de API is verouderd
          en zal uit dienst worden genomen op 2018-02-01. Raadpleeg voor meer informatie
          hier de documentatie: https://omgevingswet.../api/.../v1".'
