openapi: 3.0.3
servers:
  - description: "APILAB testserver bewoning"
    url: https://www.haalcentraal.nl/haalcentraal/api/bewoning
info:
  title: BRP bewoning
  description: |
                API voor het raadplegen van de (historische) bewoning van een adres of de medebewoners van een persoon.
  version: 2.0.0 (develop)
  contact:
    url: https://github.com/VNG-Realisatie/Haal-Centraal-BRP-bewoning
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/
tags:
  - name: BRP bewoning
    description: Raadplegen van bewoningen
paths:
  /bewoningen:
    post:
      description: |
        Zoek de medebewoners van een persoon op de opgegeven peildatum of binnen de opgegeven periode.
        Raadpleeg bewoners van een adresseerbaar object.
      operationId: Bewoningen
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BewoningenQuery"
      responses:
        '200':
          description: |
            Zoekactie geslaagd
          headers:
            api-version:
              $ref: "common.yaml#/components/headers/api_version"
            warning:
              $ref: "common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GbaBewoningenQueryResponse"
        '400':
          $ref: "common.yaml#/components/responses/400"
        '401':
          $ref: "common.yaml#/components/responses/401"
        '403':
          $ref: "common.yaml#/components/responses/403"
        '406':
          $ref: "common.yaml#/components/responses/406"
        '429':
          $ref: "common.yaml#/components/responses/429"
        '500':
          $ref: "common.yaml#/components/responses/500"
        '501':
          $ref: "common.yaml#/components/responses/501"
        '503':
          $ref: "common.yaml#/components/responses/503"
        'default':
          $ref: "common.yaml#/components/responses/default"
      tags:
        - BRP bewoning
components:
  schemas:
    BewoningenQuery:
      type: object
      required:
        - type
        - fields
      discriminator:
        propertyName: type
        mapping:
          MedebewonersMetPeildatum: '#/components/schemas/MedebewonersMetPeildatum'
          MedebewonersMetPeriode: '#/components/schemas/MedebewonersMetPeriode'
          BewoningMetPeildatum: '#/components/schemas/BewoningMetPeildatum'
          BewoningMetPeriode: '#/components/schemas/BewoningMetPeriode'
      properties:
        type:
          type: string
        fields:
          description: |
            Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een lijst van paden die verwijzen naar de gewenste velden op te nemen 
            ([zie functionele specificaties 'fields' properties](https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-BRP-bewoning/develop/features/fields.feature)). 
            De te gebruiken paden zijn beschreven in [fields-Bewoningen.csv](https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-BRP-bewoning/develop/features/fields-Bewoningen.csv) 
            waarbij in de eerste kolom het fields-pad staat en in de tweede kolom het volledige pad naar het gewenste veld. 
          type: array
          maxItems: 20
          minItems: 1
          items:
            $ref: 'filter.yaml#/components/schemas/Field'
    MedebewonersMetPeildatum:
      required:
        - peildatum
        - burgerservicenummer
      allOf:
        - $ref: '#/components/schemas/BewoningenQuery'
        - type: object
          properties:
            peildatum:
              $ref: 'filter.yaml#/components/schemas/Peildatum'
            burgerservicenummer:
              $ref: "bewoner.yaml#/components/schemas/Burgerservicenummer"
    MedebewonersMetPeriode:
      required:
        - datumVan
        - datumTotEnMet
        - burgerservicenummer
      allOf:
        - $ref: '#/components/schemas/BewoningenQuery'
        - type: object
          properties:
            datumVan:
              $ref: 'filter.yaml#/components/schemas/DatumVan'
            datumTotEnMet:
              $ref: 'filter.yaml#/components/schemas/DatumTotEnMet'
            burgerservicenummer:
              $ref: "bewoner.yaml#/components/schemas/Burgerservicenummer"
    BewoningMetPeildatum:
      required:
        - peildatum
        - adresseerbaarObjectIdentificatie
      allOf:
        - $ref: '#/components/schemas/BewoningenQuery'
        - type: object
          properties:
            peildatum:
              $ref: 'filter.yaml#/components/schemas/Peildatum'
            adresseerbaarObjectIdentificatie:
              $ref: "verblijfplaats.yaml#/components/schemas/AdresseerbaarObjectIdentificatie"
    BewoningMetPeriode:
      required:
        - datumVan
        - datumTotEnMet
        - adresseerbaarObjectIdentificatie
      allOf:
        - $ref: '#/components/schemas/BewoningenQuery'
        - type: object
          properties:
            datumVan:
              $ref: 'filter.yaml#/components/schemas/DatumVan'
            datumTotEnMet:
              $ref: 'filter.yaml#/components/schemas/DatumTotEnMet'
            adresseerbaarObjectIdentificatie:
              $ref: "verblijfplaats.yaml#/components/schemas/AdresseerbaarObjectIdentificatie"
    BewoningenQueryResponse:
      type: object
      properties:
        bewoningen:
          type: array
          items:
            $ref: 'bewoning.yaml#/components/schemas/Bewoning'
    GbaBewoningenQueryResponse:
      type: object
      properties:
        bewoningen:
          type: array
          items:
            $ref: 'bewoning.yaml#/components/schemas/GbaBewoning'
            